
html{
    background-color: rgb(214, 213, 213);
}
body{
    background-color: rgb(214, 213, 213);
    display: grid;
    /* grid-template-columns: 20% 60% 20%; */
    grid-template-rows:  100px 100% 125px;
    margin: 0;
    
    
}


.top-bar{
    display: grid;
    grid-template-columns: 20% 45% 35%;
    background-color: rgb(148, 147, 147);
    grid-row: 1/2;
}
.app{
    display: flex;
    background-color: white;
    grid-row: 2/3;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    
}

 .footer{
    display: grid;
    
    background-color: rgb(148, 147, 147);
    grid-row: 3/4;
    /* grid-column: 2/3; */  
    justify-items: center;
    
} 


.logo{
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    
}

.login{
    grid-column: 3/4;
}

.login-area{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    
}

.login-button{
    font-size: 30px;
    border: none;
    background-color: rgb(148, 147, 147);
    
    text-align: center;
}
.home-tittle{
    text-align: center;
    font-size: 50px;
    color: white;
}
.search-bar{
    height: 50px;
    
}


.sign-up-box {
    grid-row: 2/3;
}


.search-box{
    justify-items: center;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 150px;
}



.settings{
    display: flex;
    flex-direction: column;
    width: 50%;
    height:500px;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    padding-top: 100px;

}

.search-result{
   
    align-self: flex-start;
}

.table-body{
   text-align: center;
}

.guildtittle{
    text-align: center;
    
}
h3{
    text-align: center;
   
}

.adddkp , .addplayer{
    display: flex;
    justify-self: center;
    width: 50%;
}

/* .submit{
    height: 100px;
    width: 300px;
    align-self: center;
    font-size: 150%;
} */


.setting-button{
    height: 50px;
}




.login-button:hover {
    background-color: rgb(163, 162, 162);
    cursor:pointer;
    color: white;
  }







.dropbtn {
    background-color: rgb(148, 147, 147);
    color: white;
    height: 50px;
    
    font-size: 16px;
    border: none;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(163, 162, 162);}

.row{
 
    justify-content: center;
}
.col-md-9{
    background-color: rgb(214, 213, 213);

}
h1{
    text-align: center;
}
.linkstuff:hover{
    color: white;
    background-color: rgb(163, 162, 162);
}
.linkstuff{
    background-color: rgb(148, 147, 147);
}
